// Colour Schemes:

// Header background: #F6F6F7

// Font colour:  #222222 and #888888

// Required star *: #C90000

// Border light grey: #CCCCCC

// Border dark grey #222222

//header colors
$header-background: #F6F6F7;

//font colors
$font-primary: #222222;
$font-secondary: #888888;
$font-alert: #C90000;

//border colors
$border-light-grey: #CCCCCC;
$border-dark-grey: #222222;

//breakpoints
$bpSmallTab: 40em;
$bpTab: 60em;
$bpDesktop: 80em;